body, html
{
	background-color: DarkTurquoise;
	color: black;
	margin: 0px;
	padding: 0px;
	min-height: 100vh;
	display: grid;
}
body
{
	display: grid;
	overflow: hidden;
}
#main-frame, #site-hat
{
	margin: 0 18vw;
}
#site-hat
{
	height: 150px;
}
#company-title
{
	position: relative;
	text-align: center;
	bottom: 50px;
}
#company-title h2
{
	color: MediumVioletRed;
}
#company-logo
{
	width: 100px;
	height: 50px;
}
#company-logo img
{
	width: 100px;
	height: 50px;
}
#main-frame
{
	background-color: silver;
	text-shadow: 2px 2px 0 #aaaaaa;
	min-height: 100vh;
	max-height: 100vh;
}
#buy-bought-bought
{
	position: relative;
	text-align: right;
	bottom: 150px;
}

#buy-bought-bought img
{
	width: 100px;
}

#buttons
{
	background-color: black;
}

#frame-title
{
	text-align: center;
}

.items
{
	position: inherit;
}

.xbutton
{
	background-color: black;
	color: white;
	width: 200px;
	height: 50px;
	font-size: 24px;
	border: none;
}

.xbutton:hover 
{
	background-color: silver;
	color: black;
}

.xbutton:active
{
	background-color: white;
}

a
{
	color: white;
}

a:hover
{
	color: lightgreen;
}

.item
{
	background-color: lightgreen;
	min-height: 20px;
	max-height: 200px;
	margin: 10px;
	margin-top: 15px;
	box-shadow: 4px 4px #999999
}

.item img
{
	width: 356px;
	height: 201px;
}

.itemTitle
{
	position: relative;
	left: 380px;
	bottom: 215px;
}

.itemDescription
{
	position: relative;
	left: 380px;
	bottom: 225px;
}

.itemSelect
{
	position: relative;
	left: 380px;
	bottom: 130px;
	background-color: lightgreen; 
	border-radius: 25px;
}

.itemChoose
{
	position: relative;
	left: 420px;
	bottom: 130px;
	width: 40px;
	height: 20px;
	background-color: lightgreen;
	border-radius: 25px;
	border-style: groove;
	text-align: center;
}

.itemButton
{
	background-color: lightgreen; 
	position: relative;
	left: 450px;
	bottom: 130px;
	border-style: ridge;
}

.item:hover
{
	opacity: 0.8;
}

